<h1>CHAMPIONS LIGUE</h1>
<div class="block">

  <section *ngFor="let club of fClubs">
    <p>{{club.name}}</p>
    <img [src]="club.logo" class="box">
  </section>

  <div>
    <button (click)="create()" class="btn">create</button>
  </div>
</div>


<div class="groups">
  <div class="group">
    <div>
      <section class="section" *ngFor="let club of cloneGroupA">
        <p>{{club.name}}</p>
        <img [src]="club.logo" class="box">
      </section>
    </div>

    <div>
      <section class="final8" *ngFor="let final8 of groupAFinal8">

        <div class="final-group" *ngFor="let clubs of final8">
          <div class="time" *ngFor="let time of clubs">
            <img class='logo' [src]="time.logo">
          </div>

        </div>
      </section>
    </div>
    <div class="final2">
      <div class="final2-first">
        <section class=" time" *ngFor="let club of groupAFinal2">
          <img class='logo mg' [src]="club.logo">
        </section>
      </div>
      <div>
        <section class=" time" *ngFor="let club of groupAFinal2b">
          <img class='logo mg' [src]="club.logo">
        </section>
      </div>
    </div>

    <div class="final-l">
      <section class=" time " *ngFor="let club of groupAFinal1">
        <img class='logo mg' [src]="club.logo">
      </section>
    </div>

    <ng-container *ngIf="final.length>0">
      <section class="time championA">
        <img class='logo mg' [src]="final[0]?.logo">
      </section>
    </ng-container>
  </div>

  <div class="champion" *ngIf="champion.length>0">

    <h1>CHAMPION IS</h1>
    <img [src]="champion[0]?.logo">
  </div>

  <div class="group groupB">
    <div *ngIf="cloneGroupB.length<=8">
      <section class="section" *ngFor="let club of cloneGroupB">

        <img [src]="club.logo" class="box">
        <p>{{club.name}}</p>
      </section>
    </div>
    <div>
      <section class="final8" *ngFor="let club8 of groupBFinal8">

        <div class="final-group" *ngFor="let clubs of club8">

          <div class="time" *ngFor="let time of clubs">
            <img [src]="time.logo" class="logo mg">
          </div>

        </div>
      </section>
    </div>
    <div class="final2">
      <div class="final2-first">
        <section class=" time" *ngFor="let club of groupBFinal2">
          <img class='logo mg' [src]="club.logo">
        </section>
      </div>
      <div>
        <section class=" time" *ngFor="let club of groupBFinal2b">
          <img class='logo mg' [src]="club.logo">
        </section>
      </div>
    </div>
    <div class="final-r">
      <section class=" time" *ngFor="let club of groupBFinal1">
        <img class='logo mg' [src]="club.logo">
      </section>
    </div>
    <ng-container *ngIf="final.length>0">
      <section class="time championB">
        <img class='logo mg' [src]="final[1]?.logo">
      </section>
    </ng-container>
  </div>
</div>